<header>
    <h2>Properties</h2>
    <a href="/login">Login</a><br>
    <a href="/signup">Signup</a><br><br>

    <a href="/new/apartment">New Property</a>
</header>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tenants</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% if @apartments.empty? %>
    <tr>
      <td colspan="6">No Data</td>
    </tr>
  <% end %>

  <% @apartments.each do |apartment| %>
    <tr>
      <td><%= apartment[:name] %></td>
      <td><%= apartment[:address] %></td>
      <td><%= apartment[:tenants] %></td>
      <td>
        <a href="/view/<%= apartment[:id] %>">View</a>
      </td>
      <td>
        <a href="/edit/<%= apartment[:id] %>">Edit</a>
      </td>
      <td>
        <form method="post" action="/delete/<%= apartment[:id] %>">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<footer>
  <p><%= @page %> / <%= (@total_pages == 0 ? 1 : @total_pages) %></p>

  <% if @total_pages > 1 %>
    <div class="pagination">
      <% if @page > 1 %>
        <a href="/?page=<%= @page - 1 %>">Previous</a>
      <% end %>

      <% if @page < @total_pages %>
        <a href="/?page=<%= @page + 1 %>">Next</a>
      <% end %>
    </div>
  <% end %>
</footer>