<header>
    <h2>Properties</h2>
    <p>User: <%= session[:username] %></p>
    <form action="/users/signout" method="post">
      <button class="signout" type="submit">Sign Out</button><br><br>
    </form>

    <a href="/new/apartment">New Property</a>
</header>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tenants</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% if @apartments.empty? %>
    <tr>
      <td colspan="6">No Data</td>
    </tr>
  <% else %>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment[:name] %></td>
        <td><%= apartment[:address] %></td>
        <td><%= apartment[:tenants] %></td>
        <td>
          <a href="/view/<%= apartment[:id] %>">View</a>
        </td>
        <td>
          <a href="/edit/<%= apartment[:id] %>">Edit</a>
        </td>
        <td>
          <form method="post" action="/delete/<%= apartment[:id] %>">
            <button class="delete" type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<footer>
  <p><%= @page %> / <%= @total_pages %></p>

  <% if @total_pages > 1 %>
    <div class="pagination">
      <% if @page > 1 %>
        <a href="/?page=<%= @page - 1 %>">Previous</a>
      <% end %>

      <% if @page < @total_pages %>
        <a href="/?page=<%= @page + 1 %>">Next</a>
      <% end %>
    </div>
  <% end %>
</footer>